__pycache__/
.metaflow/
.venv/
wandb/
logs/
*.pth
*.index
*.npy
.env
uv.lock
nanoRecSys.egg-info
data/*
!nanoRecSys/data/
!data/.gitkeep
artifacts/*
!artifacts/.gitkeep
huggingface_tokenizers_cache
unsloth_compiled_cache
