repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=10000'] # Prevent committing model weights >10MB by accident

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version. Ensure this matches pyproject.toml
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
